.App{
  margin: 10px;
  height: 980px;
  background-color: rgb(250, 79, 250);
  display: grid;
  gap: 10px;
  border-radius: 15px;
  grid-template-columns: 8% 30% 60%;
  align-content: center;
}
 nav{
  height: 900px;
  display: grid;
  justify-content: center;
 }

 .navClimate{
  text-align: center;
  background-color: red;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0px 0px 0px 10px
 }
 .sec1{
  border-radius: 15px;
  padding: 10px;
  display: grid;
  gap: 15px 0px;
  background-color: blue;
  border: 2px solid black;
 }
 .sec2{
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  display: grid;
  gap: 15px 0px;
  background-color: green;
 }
 .subsec1{
  border-radius: 15px;
  height: 450px;
  background-color: yellow;
 }
 .option{
  border-radius: 0px;
  height: 20px;
 }

 .subsec2{
  display: flex;
  gap: 10px;
  justify-content: center;
 }
.estaClimate{
  border-radius: 15px;
  width: 350px;
  height: 350px;
  margin:5px;
  border: 2px solid black
 }
 .title{
  margin: 10px 0px
 }