.App{
  margin: 10px;
  height: 980px;
  display: grid;
  gap: 10px;
  border-radius: 15px;
  grid-template-columns: 8% 30% 60%;
  align-content: center;
}
 nav{
  height: 900px;
  display: grid;
  justify-content: center;
 }

 .navClimate{
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0px 0px 0px 10px
 }
 .sec1{
  border-radius: 15px;
  padding: 10px;
  display: grid;
  gap: 15px 0px;

 }
 .sec2{

  border-radius: 15px;
  padding: 10px;
  display: grid;
  gap: 15px 0px;

 }
 .subsec1{
  border-radius: 15px;
  height: 450px;
border: 2px solid black;
 }
 .option{
  border-radius: 0px;
  border: none;
  height: 20px;
 }

 .subsec2{
  display: flex;
  gap: 10px;
  justify-content: center;
 }
.estaClimate{
  border-radius: 15px;
  width: 340px;
  height: 290px;
  margin:5px;
  border: 2px solid black
 }
 .title{
  margin: 5px 0px
 }
 .estaFooter{
  margin: 5px;
  margin-top: 20px;
  border-radius: 15px;
  height: 80px;
  border: 2px solid black
 }